<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="bodyHeader" th:fragment="bodyHeader">
    <div class="jumbotron">

        <a class="home btn-lg btn-danger" href="/">Gif Moa</a>

        <form class="search-bar" method="get" action="umjjals">
            <input type="text" name="title" placeholder="검색할 gif를 검색하세요...">
            <input type="submit" value="Submit">
        </form>

        <h1 th:inline="text">[[${#httpServletRequest.remoteUser}]]</h1>
        <form th:action="@{/logout}" method="post">
            <input class="btn-logout btn-lg" type="submit" value="Sign Out"/>
        </form>
        <a class="btn-user btn-lg" href="/login">login</a>
        <a class="btn-user btn-lg" href="/users/new">join</a>
        <a class="btn-gif btn-lg" href="/items/new">Gif 등록</a>
        <a class="btn-gif btn-lg" href="/items">Gif 목록</a>

        <br /><br />
        <hr>
    </div>
</div>